body{
  // background: #0E0D0D;
  // color: #FAFAFA;
  background: #FAFAFA;
  overflow-y: hidden;
}

.row{
  max-width: 100%;
  width: 70%;
}

.menu-heading{
  text-align: center;
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(40);
  font-size: rem-calc(35);
  text-transform: uppercase;
}

.menu-day-meal.columns{
  padding: 0;

  &.bold{
    font-weight: bold;

    div#menu-wrapper{
      padding: rem-calc(50 0);
      text-transform: uppercase;
    }
  }

  div#menu-wrapper{
    border: 1px solid;
    height: 128px;
    text-align: center;
  }
}

.menu-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: rem-calc(20);
}
