<div class="row menu-heading">
  Mess Menu (Malviya Bhawan, IIT Roorkee)
</div>

<div class="row menu-table">
  <ul class="small-block-grid-8">

    <li class="menu-day-meal columns bold">
      <div id="menu-wrapper">Meal / Day</div>
    </li>
    <li class="menu-day-meal columns bold" ng-repeat="mealType in menu[menu.length - 1].menuLists">
      <div id="menu-wrapper">{{ mealType.day }}</div>
    </li>

    <li class="menu-day-meal columns bold">
      <div id="menu-wrapper">Breakfast</div>
    </li>
    <li class="menu-day-meal columns" ng-repeat="mealType in menu[menu.length - 1].menuLists">
      <div id="menu-wrapper">
        <div ng-repeat="meal in mealType.breakfast">{{ meal }}</div>
      </div>
    </li>

    <li class="menu-day-meal columns bold">
      <div id="menu-wrapper">Lunch</div>
    </li>
    <li class="menu-day-meal columns" ng-repeat="mealType in menu[menu.length - 1].menuLists">
      <div id="menu-wrapper">
        <div ng-repeat="meal in mealType.lunch">{{ meal }}</div>
      </div>
    </li>

    <li class="menu-day-meal columns bold">
      <div id="menu-wrapper">Dinner</div>
    </li>
    <li class="menu-day-meal columns" ng-repeat="mealType in menu[menu.length - 1].menuLists">
      <div id="menu-wrapper">
        <div ng-repeat="meal in mealType.dinner">{{ meal }}</div>
      </div>
    </li>
  </ul>
</div>

<div class="row menu-footer text-center">
  Made with <i class="fa fa-heart"></i> in <a href="https://github.com/IMG-LABS">IMG-LABS</a>
</div>

<div class="row menu-footer text-right">
  Last updated: <span am-time-ago="menu[menu.length - 1].updated_on"></span>
</div>
